#sopra{
  background: #FF5733  ;
  position:fixed;
  top:0;
  left:0;
  right:0;
  box-shadow:0 0 2px rgba(0,0,0,1);
  z-index:1000;
  height: 100px
}
/* #menu{
  position: absolute;
  left: 100px;
  top: 20px;

  background-color: #D8D2D0;
  border: none;
  color: black;
  padding: 50px 50px;
  font-size:50px;
  cursor: pointer;
} */
h1 {
  font-family:sans-serif;
  text-align: center;
  font-size:50px;
}
/* #dove {
  top:10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

} */
#menu{
  position: absolute;
  left:10px;
  top:10px;
}
#cerca{

  right:10px;
  position:absolute;
  top:10px;

  /* right:100px; */
  /* bottom:900px; */
}
#barra {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

#map {
  position:absolute;
  top:100px;
  left:0;
  right:0;
  bottom:100px;
}
#sotto {
  background:#FF5733;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:100px;
  box-shadow:0 0 2px rgba(0,0,0,1);
  z-index:1000;
}
